@inherits LayoutComponentBase
<MudThemeProvider />
<MudSnackbarProvider />

<div class="corpo">
    <div>
        @Body
    </div>
    <footer>
        <h4>Arquivar.Net - @data</h4>
    </footer>
</div>

@code{
    string data = DateTime.Now.Year.ToString();
}

<style>
    .corpo {
        background-color: #ECF0F5;
    }

    footer {
        position: fixed;
        width: 100%;
        height: 64px;
        bottom: 0;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #ECF0F5;
    }

    footer div {
        text-align: center;
        font-weight: 400;
    }
</style>