@inherits LayoutComponentBase
<MudThemeProvider Theme="Default" />
<MudSnackbarProvider />

<div class="container">
    <main>@Body</main>
    <footer>
        <MudText Typo="Typo.subtitle2" Align="Align.Center">Arquivar.Net - @data</MudText>
    </footer>
</div>

@code{
    string data = DateTime.Now.Year.ToString();
    MudTheme Default = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.DeepPurple.Lighten1,
            Tertiary = Colors.Teal.Lighten1,
            AppbarBackground = Colors.Blue.Darken1,
            Background = "#ECF0F5",
            DrawerText = Colors.Grey.Darken4,
        },

    };
}

<style>
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: grid;
        grid-template-rows: calc(100vh - 60px) 60px;
    }

    main {
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        grid-row: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>