@page "/login"
@layout AnonimousLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<MudItem Width="100%">
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Width="100%" Square="false" Style="padding-inline:15px;">
            <MudCardContent>
                <MudText Align="Align.Center"><img src="/img/brasao-150.png" width="120" /></MudText>
                <br />
                <MudText Typo="Typo.h5" Align="Align.Center">Complexo Regulador Estadual</MudText>
                <MudText Typo="Typo.body2" Align="Align.Center">Entrar com os dados de usuário</MudText>
                <br />
                <MudGrid>
                    <MudItem xs="12">
                        <SfTextBox @bind-Value="loginModel.email" Label="E-mail" Variant="Variant.Outlined" InputType="InputType.Text"></SfTextBox>
                    </MudItem>
                    <MudItem xs="12">
                        <SfTextBox @bind-Value="loginModel.password" Label="Senha" Variant="Variant.Outlined" InputType="InputType.Password"></SfTextBox>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions class="card-actions" Style="flex-direction:column;align-items:start;">
                <MudButton Variant="Variant.Filled" Color="Color.Info" FullWidth="true" Size="Size.Large" @onclick="HandleLogin">Entrar</MudButton>
                <MudLink Href="/counter" Typo="Typo.subtitle2" Style="margin-top:8px;margin-left:5px;">Esqueci a senha</MudLink>
            </MudCardActions>
            <MudCardContent>
            </MudCardContent>
            @if (ShowErrors)
            {
                <div class="alert alert-danger" role="alert">
                    <p>@Error</p>
                </div>
            }
        </MudPaper>
    </MudContainer>
</MudItem>

@code {
    private LoginModel loginModel = new LoginModel();
    private bool ShowErrors;
    private string Error = "";

    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();
    }

    private async Task HandleLogin()
    {
        ShowErrors = false;

        var result = await AuthService.Login(loginModel);

        if (result.successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Error = result.error;
            ShowErrors = true;
        }
    }
}

