@page "/"
@using KidriveComplexoClient.Shared

<MudThemeProvider />

<h1>Kidrive Complexo Regulador!</h1>

Bem vindo ao Kidrive. Esse é top. Bota top nisso!!!
<MudInputMask mascara="000.000.000" valor="TextValue"></MudInputMask>

<p>Arrocha. Deu certo...</p>
<br />
<MudInputMask mascara="000.000.000-00" valor="TextValue"></MudInputMask>
<br />



@code{
    string TextValue = "000";
}