@page "/"

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex flex-column align-left justify-center mud-width-full py-8 px-8">
            <h1>Kidrive Complexo Regulador!</h1>

            Bem vindo ao Kidrive. Esse é top. Bota top nisso!!!

            <p>Arrocha. Deu certo...</p>

        </MudPaper>
    </MudItem>
</MudGrid>
