@page "/login"
@layout BlankLayout

<div class="center">
    <div>
        <MudCard>
            <MudCardMedia Image="/img/brasao.ico" Height="120" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Old Paint</MudText>
                <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</div>
<style>
    .center {
        display: flex;
        flex:1;
        height:calc(100vh - 64px);
        align-items: center;
        justify-content: center;
    }
        .center div {

        }
</style>

@code {

}


