html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.title {
    font-size: 1.5em;
    padding-top: 2px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.2em;
        font-weight:400;
    }
}
