html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.title {
    font-size: 1.5em;
    padding-top: 2px;
    font-weight: 500;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .title {
        font-size: 1.3em;
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.1em;
        font-weight: 400;
    }
}